<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
	<meta charset="UTF-8">
	<title>Like A Pro</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons|Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
	<link rel="stylesheet" href="css/custom.css">
		
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="viewport" content="initial-scale=1" />
	<style>
		@font-face {
			font-family: Big-John;
			src: url(fonts/big_john.otf);
		}
		
		.container{
			width:85%;
			margin:0 auto;
			/*padding:10px 0;*/
		}
		
		nav {
			height: 100px;
			padding-top: 25px;
		}
		
		.logo {
			/*color: black;*/
			font-family: Big-John;
			font-size: 4em;
			padding: 0px;
			margin: 0px;		
		}
		
		.part-of-logo {
			color: #f44336;
		}
		
		h2 {
			font-family: 'Raleway', sans-serif;
			font-size:2.2em;
		}
		
		.legend{
			margin:0;
			padding:0;
			display:inline-block;
			vertical-align: top;
			margin-top:10px;
			margin-right:5%;
		}
		.one-third{
			width: 25%;
			margin: 0 2%;
			display: inline-block;
		}
		
		.legend li{
			padding:5px 17px;
			cursor:pointer;
		}
		
		.legend li.active{
			background-color:#2bbbad;
			color:#fff;
		}

		.numbers-container {
			margin-top: 20px;
		}
		
		.graph-title {
			font-size: 22px;
		}
		
	</style>
</head>
<body ng-controller="mainController">
	<nav class="teal lighten-2">
		<p class="logo">Like<span class="part-of-logo">-A-</span>Pro</p>
	</nav>
	<div class="container">
		<div class="choose-action-container section">
			<h2 class="title">Choose an action:</h2>
			<!---------------------START ACTIONS---------------------------->
			<div class="card one-third">
				<div class="card-image waves-effect waves-block waves-light">
					<img src="res/cards-01.png">
				</div>
				<div class="card-content">
					<p class="card-title grey-text text-darken-4">Arm Wave</p>
					<button class="waves-effect waves-light btn" ng-click="selectAction('wave')" ng-disabled="didSelectPro()">Let's dance!</button>					
				</div>
			</div>
			<div class="card one-third">
				<div class="card-image waves-effect waves-block waves-light">
					<img src="res/cards-03.png">
				</div>
				<div class="card-content">
					<p class="card-title grey-text text-darken-4">Golf</p>
					<button class="waves-effect waves-light btn" ng-click="selectAction('golf')" ng-disabled="didSelectPro()">I'll go with this one!</button>					
				</div>
			</div>
			<div class="card one-third">
				<div class="card-image waves-effect waves-block waves-light">
					<img src="res/cards-02.png">
				</div>
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">Baseball</span>
					<button class="waves-effect waves-light btn" ng-click="selectAction('baseball')" ng-disabled="didSelectPro()">Challenge accepted!</button>					
				</div>
			</div>
			<!-------------END ACTIONS---------------->
		</div>
		
		<div ng-cloak class="choose-pro-container section">
			<h2 class="title">Choose a professional:</h2>
		
			<div ng-if="selectedAction('wave')" class="card one-third">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="res/professionals-02.png">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Shakira</span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Shakira</span>
					<p>Do you think you're worthy of challenging the almighty God of Arm Waving?</p>
					<button class="waves-effect waves-light btn" ng-click="selectPro('wave')" ng-disabled="didSelectPro()">Hell, yeah!</button>					
				</div>
			</div>
			<div ng-if="selectedAction('golf')" class="card one-third">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="res/professionals-03.png">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Tiger Woods</span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Tiger Woods</span>
					<p>I've won a stuffed animal at the town's minigolf. Twice.</p>
					<button class="waves-effect waves-light btn" ng-click="selectPro('golf')" ng-disabled="didSelectPro()">The third one's on me!</button>					
				</div>
			</div>
			<div ng-if="selectedAction('baseball')" class="card one-third">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="res/professionals-01.png">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Derek Jeter</span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Derek Jeter</span>
					<p>I am don't mean to show off, but last week my pitching reached the catcher after only 7 tries.</p>
					<button class="waves-effect waves-light btn" ng-click="selectPro('baseball')" ng-disabled="didSelectPro()">Oh man...</button>					
				</div>
			</div>
		</div>
		
		<div class="record-2 section">
			<h2 class="title">Record the user motion</h2>
		
			<div class="button-container" ng-cloak>
				<button class="waves-effect waves-light btn" ng-class="wasStarted()" ng-click="record(user)" ng-disabled="!didSelectPro() || user.wasContinued()">{{ user.getText() }}</button>
				<button class="waves-effect waves-light btn" ng-click="user.continued = true; finalize();" ng-disabled="!user.finished || user.wasContinued()">Continue</button>
			</div>
			
			<div class="numbers-container">
				<div class="card one-third">					
					<div class="card-content" ng-cloak>
						<p class="card-title">Accelerometer:</p>
						<p>X: {{ user.coor.ax }}</p>
						<p>Y: {{ user.coor.ay }}</p>
						<p>Z: {{ user.coor.az }}</p>

					</div>
				</div>
				<div class="card one-third">					
					<div class="card-content" ng-cloak>
						<p class="card-title">Gyroscope:</p>
						<p>X: {{ user.coor.gx }}</p>
						<p>Y: {{ user.coor.gy }}</p>
						<p>Z: {{ user.coor.gz }}</p>
					</div>
				</div>
				<div class="card one-third">					
					<div class="card-content" ng-cloak>
						<p class="card-title">Orientation:</p>						
						<p>X: {{ user.coor.ox }}</p>
						<p>Y: {{ user.coor.oy }}</p>
						<p>Z: {{ user.coor.oz }}</p>
						<p>W: {{ user.coor.ow }}</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="section">
			<h2>See the comparison: </h2>
				<div class="graphs-container">			
					<ul class="legend card">
						<li ng-class="isActive('x')" ng-click="activateLegend('x')" class="legendCoord">x</li>
						<li ng-class="isActive('y')" ng-click="activateLegend('y')" class="legendCoord">y</li>
						<li ng-class="isActive('z')" ng-click="activateLegend('z')" class="legendCoord">z</li>
						<li ng-class="isActive('w')" ng-click="activateLegend('w')" class="legendCoord">w</li>
					</ul>
					<div class="card graph-space one-third">
						<div class="card-content">
							<p class="card-title grey-text text-darken-4">Accelerator</p>
							<div class="acceleration-graph" style="height:150px; width:100%; margin:0 1%; display:inline-block"></div>
							<p ng-if="isSelected('x')"></p>
							<p ng-if="isSelected('y')"></p>
							<p ng-if="isSelected('z')"></p>
						</div>
					</div>
					<div class="card graph-space one-third">
						<div class="card-content">											
							<p class="card-title grey-text text-darken-4">Gyroscope</p>	
							<div class="gyroscope-graph" style="height:150px; width:100%; margin:0 1%; display:inline-block"></div>
							<p ng-if="isSelected('x')"></p>
							<p ng-if="isSelected('y')"></p>
							<p ng-if="isSelected('z')"></p>
						</div>
					</div>
					<div class="card graph-space one-third">
						<div class="card-content">												
							<p class="card-title grey-text text-darken-4">Orientation</p>
							<div class="orientation-graph" style="height:150px; width:100%; margin:0 1%; display:inline-block"></div>
							<p ng-if="isSelected('x')"></p>
							<p ng-if="isSelected('y')"></p>
							<p ng-if="isSelected('z')"></p>
							<p ng-if="isSelected('w')"></p>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	
	<script src="myo/myo.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.4.6/angular-route.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
	<script src="js/custom.js" type="text/javascript"></script>
	<script>
		new Morris.Line({
			element: $('.acceleration-graph'),
			
			data: [
				{ x: '1', time: 1 },
				{ x: '2', time: 2 },
				{ x: '3', time: 3},
				{ x: '4', time: 4},
				{ x: '5', time: 5 }
			],
			xkey: 'x',
			postUnits: "s",
			ykeys: ['time'],
			
			labels: ['time']
		});
		
		new Morris.Line({
			element: $('.gyroscope-graph'),
			
			data: [
				{ year: '1', value: 1 },
				{ year: '2', value: 2 },
				{ year: '3', value: 3 },
				{ year: '4', value: 4 },
				{ year: '5', value: 5 }
			],
			xkey: 'year',
		
			ykeys: ['value'],
			
			labels: ['Value']
		});
		
		new Morris.Line({
			element: $('.orientation-graph'),
			
			data: [
				{ year: '1', value: 1 },
				{ year: '2', value: 2 },
				{ year: '3', value: 3 },
				{ year: '4', value: 4 },
				{ year: '5', value: 5 }
			],
			xkey: 'year',
		
			ykeys: ['value'],
			
			labels: ['Value']
		});
	</script>
</body>
</html>